*.iml
.gradle
keystore
keystore.jks
*.jks
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
*/build
/captures
.externalNativeBuild
.idea
*.apk
fabric.properties
*/debug
*/release
*/libs
*/src/androidTest
*/src/test
config