*.iml
.gradle
keystore
keystore.jks
*.jks
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.idea
*.apk
fabric.properties
app/debug
app/release
app/libs
app/src/androidTest
app/src/test