<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="fr.twentynine.keepon">

    <application
        android:name=".DebugKeepOnApplication"
        tools:replace="android:name"/>
</manifest>